@import url("https://fonts.googleapis.com/css2?family=Actor&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aclonica&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

*,
*:before,
*:after {
  box-sizing: border-box; }

ul {
  list-style: none; }

a,
a:hover {
  text-decoration: none; }

html {
  scroll-behavior: smooth;
  font-family: 'Aclonica', sans-serif;
  font-size: 16px;
  font-weight: 400; }

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 100px 0 40px;
  background-color: #fff; }
  .menu.active {
    display: flex; }
  .menu__list {
    text-align: center; }
  .menu__link {
    display: block;
    padding: 8px;
    line-height: 2;
    color: #22bf95;
    transition: color 0.3s ease-in; }
    .menu__link:hover {
      color: #22bf95; }
    .menu__link--active {
      position: relative; }
      .menu__link--active::after {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        margin: 0 auto;
        content: '';
        width: 40px;
        height: 1px;
        background-color: #22bf95; }
  .menu__loging {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .menu__loging-btn {
    padding: 7px 53px;
    cursor: pointer;
    font-family: 'Acme', sans-serif;
    font-size: 12px;
    line-height: 2;
    text-transform: uppercase;
    color: #22bf95;
    letter-spacing: 2px;
    border: 1px solid #22bf95;
    border-radius: 20px;
    background-color: transparent;
    transition: border 0.3s ease-in; }
    .menu__loging-btn:hover {
      border: 1px solid #7f7f7f; }
    .menu__loging-btn--small-padding {
      padding: 7px 21px; }
    .menu__loging-btn:first-of-type {
      margin-bottom: 16px; }

@media (min-width: 1120px) {
  .menu {
    position: relative;
    width: unset;
    height: unset;
    flex-direction: row;
    padding: 0;
    background-color: unset; }
    .menu__list {
      display: flex;
      margin-right: 48px; }
      .menu__list li {
        margin-left: 30px; }
        .menu__list li:first-of-type {
          margin-left: 0; }
    .menu__link {
      color: #fff; }
      .menu__link::after {
        background-color: #fff; }
    .menu__loging {
      flex-direction: row; }
    .menu__loging-btn {
      color: #fff;
      border: 1px solid #fff;
      transition: border 0.3s ease-in; }
      .menu__loging-btn:hover {
        border: 1px solid #22bf95; }
      .menu__loging-btn:first-of-type {
        margin-right: 20px;
        margin-bottom: 0; } }

.tabs-menu {
  max-width: 770px;
  width: calc(100% - 42px);
  background-color: #fff;
  box-shadow: 0px 12px 24px #f2f2f2;
  border-radius: 5px; }
  .tabs-menu::before {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2.5px;
    content: '';
    background-color: #22bf95;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
  .tabs-menu__list {
    display: flex;
    align-items: center;
    height: 40px;
    font-family: 'Acme', sans-serif; }
  .tabs-menu__item {
    position: relative;
    width: 33.33%;
    text-align: center;
    color: #7f7f7f; }
    .tabs-menu__item::after {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 0.5px;
      height: 20.5px;
      content: '';
      background-color: #7f7f7f;
      opacity: 0.2; }
    .tabs-menu__item:last-of-type::after {
      display: none; }
  .tabs-menu__link {
    padding: 8px;
    color: #7f7f7f;
    transition: color 0.3s ease-in; }
    .tabs-menu__link--active {
      color: #22bf95; }
    .tabs-menu__link:hover {
      color: #22bf95; }

@media (min-width: 768px) {
  .tabs-menu::before {
    height: 5px; }
  .tabs-menu__list {
    height: 80px; } }

.header-container {
  position: relative;
  max-width: 1265px;
  width: 100%;
  margin: 0 auto;
  padding: 0 21px; }

.header-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20; }

.main-title {
  max-width: 142px;
  margin: 0 auto;
  font-family: 'Actor', sans-serif;
  font-size: 40px;
  line-height: 56px;
  text-align: center; }

.header {
  position: relative;
  padding: 68px 0 30px;
  font-size: 12px;
  font-family: 'Acme', sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: linear-gradient(to left, #00f473 15%, #22c6d4 80%, #17c3e1); }
  .header__top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0 24px; }
    .header__top-nav.active::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to left, #00f473 15%, #22c6d4 80%, #17c3e1);
      z-index: 2; }
    .header__top-nav.scroll-styles .menu__link,
    .header__top-nav.scroll-styles .header__logo,
    .header__top-nav.scroll-styles .menu__loging-btn {
      color: #7f7f7f; }
    .header__top-nav.scroll-styles .header__burger span,
    .header__top-nav.scroll-styles .header__burger::before,
    .header__top-nav.scroll-styles .header__burger::after {
      background-color: #7f7f7f; }
    .header__top-nav.scroll-styles .menu__link:hover,
    .header__top-nav.scroll-styles .header__logo:hover {
      color: #22bf95; }
    .header__top-nav.scroll-styles .menu__loging-btn {
      border: 1px solid #7f7f7f;
      transition: border 0.3s ease-in; }
      .header__top-nav.scroll-styles .menu__loging-btn:hover {
        border: 1px solid #22bf95; }
  .header__logo {
    color: #fff;
    font-family: 'Actor', sans-serif;
    font-size: 20px;
    font-weight: bold;
    z-index: 3;
    transition: color 0.3s ease-in; }
  .header__burger {
    position: relative;
    width: 44px;
    height: 38px;
    padding: 10px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 0;
    z-index: 3; }
    .header__burger.active::before {
      transform: rotate(45deg);
      top: 18px; }
    .header__burger.active::after {
      transform: rotate(-45deg);
      bottom: 18px; }
    .header__burger.active span {
      transform: scale(0); }
    .header__burger span {
      top: 18px;
      background-color: #fff; }
    .header__burger span, .header__burger::before, .header__burger:after {
      width: calc(100% - 20px);
      height: 2px;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      background-color: #fff;
      transition: all 0.3s ease 0s; }
    .header__burger::before {
      content: '';
      top: 10px; }
    .header__burger::after {
      content: '';
      bottom: 10px; }
  .header__menu {
    display: none; }
  .header__tabs-menu {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -30px;
    height: max-content;
    margin: auto;
    z-index: 3; }
    .header__tabs-menu.active {
      position: fixed;
      top: 90px;
      bottom: unset; }

@media (min-width: 768px) {
  .header {
    padding: 182px 0 188px; }
    .header__tabs-menu {
      bottom: -45px; }
  .main-title {
    max-width: 100%;
    font-size: 90px; } }

@media (min-width: 1120px) {
  .header__burger {
    display: none; }
  .header__top-nav.active::before {
    display: none; }
  .header__menu {
    display: flex; }
  .main-title {
    font-size: 110px;
    line-height: 130px; } }

.tips-accordion {
  width: 100%;
  overflow: hidden;
  counter-increment: section; }
  .tips-accordion input {
    position: absolute;
    opacity: 0;
    z-index: -1; }
  .tips-accordion input:checked ~
.tips-accordion-content-wraper {
    max-height: 100%; }
  .tips-accordion input:checked +
.tips-accordion-label {
    padding: 24px 0 21px 0;
    font-size: 24px;
    line-height: 32px;
    border-bottom: none;
    box-shadow: none; }
  .tips-accordion input:checked +
.tips-accordion-label::before {
    transform: translateX(-100%); }
  .tips-accordion input:checked +
.tips-accordion-label::after {
    font-size: 14px;
    content: '-'; }
  .tips-accordion-label {
    position: relative;
    display: flex;
    align-items: center;
    padding: 15px 35px 15px 45px;
    line-height: 24px;
    cursor: pointer;
    border-top: 1px solid #22bf95;
    transition: border 0.3s ease-in; }
    .tips-accordion-label--last {
      border-bottom: 1px solid #22bf95; }
    .tips-accordion-label:hover {
      border-top: 1px solid greenyellow;
      border-bottom: 1px solid greenyellow; }
    .tips-accordion-label::before {
      position: absolute;
      left: 0;
      bottom: 0;
      top: 0;
      margin: auto;
      content: counter(section);
      font-family: 'Actor', sans-serif;
      font-size: 40px;
      line-height: 48px;
      color: #f2f2f2; }
    .tips-accordion-label::after {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      width: 15px;
      height: 15px;
      text-align: center;
      line-height: 15px;
      border-radius: 50%;
      color: #22bf95;
      content: '+';
      border: 1px solid #22bf95;
      box-shadow: 0px 3px 6px rgba(127, 127, 127, 0.3); }
  .tips-accordion-content-wraper {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.1s  ease-in; }
  .tips-accordion-content {
    display: flex;
    flex-direction: column;
    padding-bottom: 23px;
    font-size: 14px;
    line-height: 24px;
    border-bottom: 1px solid #22bf95; }
    .tips-accordion-content img {
      align-self: center;
      width: 117px;
      height: 117px;
      margin-bottom: 21px; }
  .tips-accordion-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 11px; }
    .tips-accordion-info span {
      display: block;
      height: 28px;
      width: 28px;
      background: no-repeat url("../images/info.png");
      background-position: center;
      background-size: contain; }
    .tips-accordion-info p {
      margin-left: 20px;
      font-size: 12px;
      color: #7f7f7f; }

@media (min-width: 768px) {
  .tips-accordion input:checked +
.tips-accordion-label {
    padding: 50px 0 0 0;
    font-size: 42px;
    line-height: 54px;
    border-bottom: none;
    box-shadow: none; }
  .tips-accordion input:checked +
.tips-accordion-label::before {
    transform: translateX(-100%);
    left: unset; }
  .tips-accordion input:checked +
.tips-accordion-label::after {
    font-size: 30px;
    content: '-'; }
  .tips-accordion-label {
    font-size: 24px;
    line-height: 36px;
    padding: 56px 0 56px 200px; }
    .tips-accordion-label::before {
      left: 40px;
      font-size: 110px;
      line-height: 130px; }
    .tips-accordion-label::after {
      width: 35px;
      height: 35px;
      right: 40px;
      font-size: 30px;
      line-height: 35px; }
  .tips-accordion-content {
    flex-direction: row;
    padding-bottom: 40px; }
    .tips-accordion-content > img {
      display: block;
      width: 250px;
      height: 250px;
      margin-top: 42px;
      margin-bottom: 0; }
  .tips-accordion-text-wraper {
    font-size: 16px;
    line-height: 24px;
    margin: 40px 70px 0 70px; }
  .tips-accordion-info {
    justify-content: start;
    margin-top: 60px;
    font-size: 13px; } }

@media (min-width: 1120px) {
  .tips-accordion input:checked +
.tips-accordion-label {
    padding-right: 800px; }
  .tips-accordion-content > img {
    width: 370px;
    height: 370px; }
  .tips-accordion-text-wraper {
    margin: 0 165px 0 135px; } }

.tips {
  counter-reset: section; }
  .tips .container {
    padding-top: 10px;
    padding-bottom: 24px;
    border-top: 1px solid #b2b2b2; }
  .tips-title {
    margin-bottom: 24px; }

@media (min-width: 768px) {
  .tips .container {
    padding-top: 19px;
    padding-bottom: 160px; }
  .tips-title {
    margin-bottom: 100px; } }

.faqs-accordion {
  width: 100%;
  overflow: hidden; }
  .faqs-accordion input {
    position: absolute;
    opacity: 0;
    z-index: -1; }
  .faqs-accordion input:checked + .faqs-accordion-label::after {
    transform: rotate(225deg); }
  .faqs-accordion input:checked ~ .faqs-accordion-content-wraper {
    max-height: 100%; }
  .faqs-accordion-link {
    display: inline-block;
    padding: 8px 0;
    color: #22bf95;
    transition: color 0.3s ease-in; }
    .faqs-accordion-link:hover {
      color: #7f7f7f; }
  .faqs-accordion-label {
    position: relative;
    margin-bottom: 7px;
    display: flex;
    align-items: center;
    padding: 21px 95px 21px 70px;
    line-height: 24px;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in; }
    .faqs-accordion-label:hover {
      box-shadow: 0px 10px 13px -7px rgba(34, 191, 149, 0.2); }
    .faqs-accordion-label::before {
      position: absolute;
      left: 0;
      content: 'Q';
      font-family: 'Actor', sans-serif;
      font-size: 40px;
      line-height: 48px;
      color: #f2f2f2; }
    .faqs-accordion-label::after {
      position: absolute;
      right: 8px;
      width: 14px;
      height: 14px;
      content: '';
      border-right: 1px solid #22bf95;
      border-bottom: 1px solid #22bf95;
      transform: rotate(45deg);
      transition: all 0.3s; }
  .faqs-accordion-content-wraper {
    max-height: 0;
    transition: max-height 0.3s ease-in; }
  .faqs-accordion-content {
    position: relative;
    display: flex;
    align-items: center;
    padding: 21px 25px 21px 70px;
    font-size: 14px;
    line-height: 24px; }
    .faqs-accordion-content::before {
      position: absolute;
      left: 0;
      content: 'A';
      font-family: 'Actor', sans-serif;
      font-size: 40px;
      line-height: 48px;
      color: #f2f2f2; }

@media (min-width: 1120px) {
  .faqs-accordion-label {
    padding: 70px 230px 70px 230px;
    font-size: 24px;
    line-height: 36px; }
  .faqs-accordion-content {
    padding: 70px 230px 70px 230px;
    font-size: 16px; }
  .faqs-accordion-label::before, .faqs-accordion-content::before {
    font-size: 110px;
    line-height: 130px; } }

.faqs .container {
  padding-top: 10px;
  border-top: 1px solid #b2b2b2; }

.faqs-title {
  margin-bottom: 24px; }

.faqs-link {
  width: max-content;
  display: block;
  margin: 20px auto 0;
  padding: 8px;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  color: #22bf95;
  transition: color 0.3s ease-in; }
  .faqs-link:hover {
    color: #7f7f7f; }

@media (min-width: 768px) {
  .faqs .container {
    padding-top: 19px; }
  .faqs-title {
    margin-bottom: 100px; }
  .faqs-link {
    margin: 50px auto 0; } }

.footer {
  padding: 24px 0;
  background-color: #f2f2f2; }
  .footer-main-content {
    color: #7f7f7f; }
  .footer-nav {
    padding-bottom: 20px;
    font-family: 'Acme', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px; }
    .footer-nav-item:not(:last-of-type) {
      margin-bottom: 12px; }
    .footer-nav-link {
      display: block;
      padding: 8px 0;
      width: max-content;
      color: #7f7f7f;
      transition: color 0.3s, transform 0.3s; }
      .footer-nav-link:hover {
        color: #22bf95;
        transform: translate(5px, 0); }
    .footer-nav-link-phone {
      font-family: 'Aclonica', sans-serif;
      font-size: 16px;
      color: #7f7f7f;
      transition: all 0.3s ease-in; }
      .footer-nav-link-phone:hover {
        color: #22bf95; }
  .footer-contacts-item {
    padding: 8px 0;
    border-top: 2px solid #22bf95;
    line-height: 20px; }
  .footer-contacts-item-title {
    font-size: 16px;
    line-height: 36px; }
  .footer-contacts-item-phone {
    font-size: 16px;
    color: #7f7f7f;
    transition: color 0.3s ease-in; }
    .footer-contacts-item-phone:hover {
      color: #22bf95; }
  .footer-contacts-item-map {
    color: #22bf95;
    transition: color 0.3s ease-in; }
    .footer-contacts-item-map:hover {
      color: #7f7f7f; }
  .footer-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    border-top: 1px solid #7f7f7f; }
    .footer-social-list {
      display: flex;
      margin-bottom: 20px; }
    .footer-social-list-item {
      margin-right: 53px;
      transition: transform 0.3s ease-in; }
      .footer-social-list-item:hover {
        transform: scale(1.2); }
      .footer-social-list-item:last-of-type {
        margin-right: 0; }

@media (min-width: 768px) {
  .footer {
    padding: 78px 0 68px; } }

@media (min-width: 1120px) {
  .footer-main-content {
    display: flex;
    justify-content: space-between; }
  .footer-nav {
    margin-right: 65px; }
    .footer-nav-item:not(:last-of-type) {
      margin-bottom: 30px; }
  .footer-contacts-item {
    display: flex;
    justify-content: start;
    font-size: 16px;
    padding-bottom: 51px; }
  .footer-contacts-item-title {
    margin-right: 30px;
    font-size: 24px;
    width: 25%; }
  .footer-contacts-item-phone {
    margin-right: 30px;
    width: 20%; }
  .footer-contacts-item-text {
    width: 40%; }
  .footer-contacts-item-map {
    text-align: end;
    width: 15%;
    margin-right: 0; }
  .footer-social {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 28px; } }

.glossary {
  padding-bottom: 20px; }
  .glossary > .l-container {
    padding-top: 10px;
    padding-bottom: 20px;
    border-top: 1px solid #f2f2f2; }

.glossary-main-content {
  padding: 32px 15px 0;
  background: no-repeat url("../images/scout-bc.jpg");
  background-size: cover;
  background-position: center; }
  @media (min-width: 1120px) {
    .glossary-main-content > .l-container {
      display: flex; } }
  @media (min-width: 1120px) {
    .glossary-main-content__wraper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; } }
  .glossary-main-content__title {
    margin-bottom: 24px;
    text-transform: uppercase;
    font-family: 'Actor', sans-serif;
    font-size: 32px; }
    @media (min-width: 1120px) {
      .glossary-main-content__title {
        margin-bottom: 73px;
        font-size: 90px; } }
  .glossary-main-content__text {
    position: relative;
    font-size: 16px;
    line-height: 24px; }
    @media (min-width: 1120px) {
      .glossary-main-content__text {
        max-width: 462px;
        font-size: 24px;
        line-height: 36px; } }
    .glossary-main-content__text::before {
      position: absolute;
      left: -35px;
      top: 24px;
      height: 1.5px;
      width: 48px;
      content: '';
      background-color: #22bf95;
      transform: rotate(90deg); }

.glossary-slider {
  position: relative;
  max-width: 422px;
  margin-bottom: 32px;
  padding: 32px 32px 41px 62px;
  font-size: 16px;
  color: #7f7f7f;
  background-color: #fff; }
  @media (min-width: 1120px) {
    .glossary-slider {
      margin-right: 130px; } }
  .glossary-slider__item {
    position: relative;
    margin-bottom: 15px; }
    .glossary-slider__item.active::before {
      position: absolute;
      width: 46px;
      height: 1px;
      top: 50%;
      left: -52px;
      content: '';
      background-color: #22bf95; }
  .glossary-slider__link:hover {
    color: #22bf95 !important; }
  .glossary-slider__arrow {
    position: absolute;
    top: 32px;
    right: 32px; }
  .glossary-slider__arrow-right {
    display: block;
    margin-bottom: 16px;
    width: 18px;
    height: 18px;
    background: no-repeat url("../images/right.png"); }
  .glossary-slider__arrow-left {
    display: block;
    width: 18px;
    height: 18px;
    cursor: pointer;
    background: no-repeat url("../images/left.png");
    opacity: 0.5; }
    .glossary-slider__arrow-left:hover {
      cursor: pointer; }

.container {
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 21px; }

.main {
  padding: 52px 0 24px; }
  @media (min-width: 768px) {
    .main {
      padding: 138px 0 102px; } }
