@import './variables';

.faqs-accordion {
  width: 100%;
  overflow: hidden;

  input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  input:checked + .faqs-accordion-label::after {
    transform: rotate(225deg);
  }

  input:checked ~ .faqs-accordion-content-wraper {
    max-height: 100%;
  }

  &-link {
    display: inline-block;
    padding: 8px 0;

    color: $c-green;
    transition: color $animation-time ease-in;

    &:hover {
      color: $c-dark-gray;
    }
  }

  &-label {
    position: relative;
    margin-bottom: 7px;
    display: flex;
    align-items: center;
    padding: 21px 95px 21px 70px;

    line-height: 24px;
    cursor: pointer;
    transition: box-shadow $animation-time ease-in;

    &:hover {
      box-shadow: 0px 10px 13px -7px rgba(34, 191, 149, 0.2);
    }

    &::before {
      position: absolute;
      left: 0;

      content: 'Q';
      font-family: 'Actor', sans-serif;
      font-size: 40px;
      line-height: 48px;
      color: $c-gray;
    }

    &::after {
      position: absolute;
      right: 8px;
      width: 14px;
      height: 14px;

      content: '';
      border-right: 1px solid $c-green;
      border-bottom: 1px solid $c-green;

      transform: rotate(45deg);
      transition: all $animation-time;
    }
  }

  &-content-wraper {
    max-height: 0;
    transition: max-height $animation-time ease-in;
  }

  &-content {
    position: relative;
    display: flex;
    align-items: center;
    padding: 21px 25px 21px 70px;
    font-size: 14px;
    line-height: 24px;
  
    &::before {
      position: absolute;
      left: 0;
  
      content: 'A';
      font-family: 'Actor', sans-serif;
      font-size: 40px;
      line-height: 48px;
      color: $c-gray;
    }
  }
}

@media(min-width: $breakpoint-desktop) {
  .faqs-accordion {
    &-label {
      padding: 70px 230px 70px 230px;
      font-size: 24px;
      line-height: 36px;
    }

    &-content {
      padding: 70px 230px 70px 230px;
      font-size: 16px;
    }

    &-label::before,
    &-content::before {
      font-size: 110px;
      line-height: 130px;
    }
  }
}
