@import 'fonts';
@import 'variables';
@import 'reset';
@import 'normolize';

@import './header';
@import './tips';
@import './glossary';
@import './faqs';
@import './footer';


//GLOSSARY

.container {
  position: relative;
  max-width: $max-width-container;
  margin: 0 auto;
  padding: 0 $horizontal-padding-container;
}

.main{
  padding: 52px 0 24px;

  @media(min-width: $breakpoint-tablet) {
    padding: 138px 0 102px;
  }
}






//
