@import 'variables';
@import './slider';
@import './slider-big';

.glossary {
  margin-bottom: 24px;
  background: linear-gradient(to bottom, rgb(235, 250, 245) 0%, rgb(226, 227, 226) 100%);
  border-top: 1px solid $c-dark-gray;

  &-heading {
    margin-bottom: 24px;
    padding: 11px 0 24px;
    background-color: $c-white;
  }
}

@media(min-width: $breakpoint-desktop) {
  .glossary {
    padding-bottom: 60px;
    margin-bottom: 160px;

    &-heading {
      margin-bottom: 60px;
      padding: 20px 0 50px;
    }

    .wraper {
      display: flex;
    }
  }
}
