$max-width-container: 1230px;
$max-width-header-container: 1265px;
$container-padding: 30px;

$fs-micro: 10px;
$fs-milli: 12px;
$fs-mini: 13px;
$fs-base: 16px;
$fs-big: 24px;

$fs-kilo: 42px;
$fs-mega: 60px;
$fs-giga: 110px;

$animation-time: 0.3s;
$c-main-text: #191919;
$c-light-gray: #e5e5e5;
$c-gray: #7f7f7f;
$c-link: #22bf95;
$gradient: linear-gradient(to left, rgba(0,244,115,1) 15%, rgba(34,198,212,1) 80%, rgba(23,195,225,1));
$shadow-btn: 0px 6px 12px rgba(127, 127, 127, 0.3);
$shadow-on-hover: 0px 10px 18px rgba(127, 127, 127, 0.5);
$shadow-text: 0px 2px 4px rgba(127, 127, 127, 0.3);

$scr-tablet: 768px;
$scr-desktop: 1120px;
