.faqs-accordion {
  width: 100%;
  overflow: hidden; }
  .faqs-accordion input {
    position: absolute;
    opacity: 0;
    z-index: -1; }
  .faqs-accordion input:checked + .faqs-accordion-label::after {
    transform: rotate(225deg); }
  .faqs-accordion input:checked ~ .faqs-accordion-content-wraper {
    max-height: 100%; }
  .faqs-accordion-link {
    display: inline-block;
    padding: 8px 0;
    color: #22bf95;
    transition: color 0.3s ease-in; }
    .faqs-accordion-link:hover {
      color: #7f7f7f; }
  .faqs-accordion-label {
    position: relative;
    margin-bottom: 7px;
    display: flex;
    align-items: center;
    padding: 21px 95px 21px 70px;
    line-height: 24px;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in; }
    .faqs-accordion-label:hover {
      box-shadow: 0px 10px 13px -7px rgba(34, 191, 149, 0.2); }
    .faqs-accordion-label::before {
      position: absolute;
      left: 0;
      content: 'Q';
      font-family: 'Actor', sans-serif;
      font-size: 40px;
      line-height: 48px;
      color: #f2f2f2; }
    .faqs-accordion-label::after {
      position: absolute;
      right: 8px;
      width: 14px;
      height: 14px;
      content: '';
      border-right: 1px solid #22bf95;
      border-bottom: 1px solid #22bf95;
      transform: rotate(45deg);
      transition: all 0.3s; }
  .faqs-accordion-content-wraper {
    max-height: 0;
    transition: max-height 0.3s ease-in; }
  .faqs-accordion-content {
    position: relative;
    display: flex;
    align-items: center;
    padding: 21px 25px 21px 70px;
    font-size: 14px;
    line-height: 24px; }
    .faqs-accordion-content::before {
      position: absolute;
      left: 0;
      content: 'A';
      font-family: 'Actor', sans-serif;
      font-size: 40px;
      line-height: 48px;
      color: #f2f2f2; }

@media (min-width: 768px) {
  .faqs-accordion-label {
    padding: 70px 230px 70px 230px;
    font-size: 24px;
    line-height: 36px; }
  .faqs-accordion-content {
    padding: 70px 230px 70px 230px;
    font-size: 16px; }
  .faqs-accordion-label::before, .faqs-accordion-content::before {
    font-size: 110px;
    line-height: 130px; } }

.faqs .container {
  padding-top: 10px;
  border-top: 1px solid #b2b2b2; }

.faqs-title {
  margin-bottom: 24px; }

.faqs-link {
  width: max-content;
  display: block;
  margin: 20px auto 0;
  padding: 8px;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  color: #22bf95;
  transition: color 0.3s ease-in; }
  .faqs-link:hover {
    color: #7f7f7f; }

@media (min-width: 768px) {
  .faqs .container {
    padding-top: 19px; }
  .faqs-title {
    margin-bottom: 100px; }
  .faqs-link {
    margin: 50px auto 0; } }
