.slider {
  position: relative;
  padding: 40px 70px 40px 0;
  background-color: #fff;
  box-shadow: 0px 12px 24px #e5e5e5;
  border-radius: 5px; }
  .slider-item {
    margin-left: 60px;
    line-height: 36px;
    max-width: max-content; }
  .slider-link {
    display: block;
    padding: 8px 0;
    color: #7f7f7f;
    transition: color 0.3s ease-in; }
    .slider-link:hover {
      cursor: pointer;
      color: #22bf95; }
  .slider-link.active {
    position: relative; }
    .slider-link.active::before {
      position: absolute;
      left: -50px;
      top: 0;
      bottom: 0;
      margin: auto;
      content: '';
      height: 1px;
      width: 45px;
      background-color: #22bf95; }
  .slider .slick-arrow {
    position: absolute;
    right: 24px;
    font-size: 0;
    height: 16px;
    width: 16px;
    border: 0;
    cursor: pointer;
    z-index: 3; }
    .slider .slick-arrow.slick-disabled {
      opacity: 0.5; }
  .slider .slick-arrow.slick-prev {
    top: 64px;
    background: url("../images/previous.svg") 0 0/100% no-repeat; }
  .slider .slick-arrow.slick-next {
    top: 32px;
    background: url("../images/next.svg") 0 0/100% no-repeat; }

@media (min-width: 1120px) {
  .slider {
    left: -135px;
    max-width: 422px;
    padding: 60px 55px 28px 0; }
    .slider-item {
      margin-left: 135px; }
    .slider-link.active::before {
      left: -120px;
      width: 105px; } }
