@import url("https://fonts.googleapis.com/css2?family=Actor&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aclonica&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

*,
*:before,
*:after {
  box-sizing: border-box; }

ul {
  list-style: none; }

a,
a:hover {
  text-decoration: none; }

html {
  scroll-behavior: smooth;
  font-family: 'Aclonica', sans-serif;
  font-size: 16px;
  font-weight: 400; }

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 100px 0 40px;
  background-color: #fff; }
  .menu.active {
    display: flex; }
  .menu__list {
    text-align: center; }
  .menu__link {
    display: block;
    padding: 8px;
    line-height: 2;
    color: #22bf95; }
    .menu__link:hover {
      color: #22bf95; }
    .menu__link--active {
      position: relative; }
      .menu__link--active::after {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        margin: 0 auto;
        content: '';
        width: 40px;
        height: 1px;
        background-color: #22bf95; }
  .menu__loging {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .menu__loging-btn {
    padding: 7px 53px;
    cursor: pointer;
    font-family: 'Acme', sans-serif;
    font-size: 12px;
    line-height: 2;
    text-transform: uppercase;
    color: #22bf95;
    letter-spacing: 2px;
    border: 1px solid #22bf95;
    border-radius: 20px;
    background-color: transparent; }
    .menu__loging-btn:hover {
      border: 1px solid #7f7f7f; }
    .menu__loging-btn--small-padding {
      padding: 7px 21px; }
    .menu__loging-btn:first-of-type {
      margin-bottom: 16px; }

@media (min-width: 1120px) {
  .menu {
    position: relative;
    width: unset;
    height: unset;
    flex-direction: row;
    padding: 0;
    background-color: unset; }
    .menu__list {
      display: flex;
      margin-right: 48px; }
      .menu__list > li {
        margin-left: 30px; }
        .menu__list > li:first-of-type {
          margin-left: 0; }
    .menu__link {
      color: #fff; }
      .menu__link::after {
        background-color: #fff; }
    .menu__loging {
      flex-direction: row; }
    .menu__loging-btn {
      color: #fff;
      border: 1px solid #fff; }
      .menu__loging-btn:hover {
        border: 1px solid #22bf95; }
      .menu__loging-btn:first-of-type {
        margin-right: 20px;
        margin-bottom: 0; } }

.tabs-menu {
  max-width: 770px;
  width: calc(100% - 42px);
  background-color: #fff;
  box-shadow: 0px 12px 24px #f2f2f2;
  border-radius: 5px; }
  .tabs-menu::before {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2.5px;
    content: '';
    background-color: #22bf95;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
  .tabs-menu__list {
    display: flex;
    align-items: center;
    height: 40px;
    font-family: 'Acme', sans-serif; }
  .tabs-menu__item {
    position: relative;
    width: 33.33%;
    text-align: center;
    color: #7f7f7f; }
    .tabs-menu__item::after {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 0.5px;
      height: 20.5px;
      content: '';
      background-color: #7f7f7f;
      opacity: 0.2; }
    .tabs-menu__item:last-of-type::after {
      display: none; }
  .tabs-menu__link {
    padding: 8px;
    color: #7f7f7f; }
    .tabs-menu__link--active {
      color: #22bf95; }
    .tabs-menu__link:hover {
      color: #22bf95; }

@media (min-width: 768px) {
  .tabs-menu::before {
    height: 5px; }
  .tabs-menu__list {
    height: 80px; } }

.header-container {
  position: relative;
  max-width: 1265px;
  width: 100%;
  margin: 0 auto;
  padding: 0 21px; }

.header-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20; }

.main-title {
  max-width: 142px;
  margin: 0 auto;
  font-family: 'Actor', sans-serif;
  font-size: 40px;
  line-height: 56px;
  text-align: center; }

.header {
  position: relative;
  padding: 68px 0 30px;
  font-size: 12px;
  font-family: 'Acme', sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: linear-gradient(to left, #00f473 15%, #22c6d4 80%, #17c3e1); }
  .header__top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0 24px; }
    .header__top-nav.active::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to left, #00f473 15%, #22c6d4 80%, #17c3e1);
      z-index: 2; }
    .header__top-nav.scroll-styles .menu__link,
    .header__top-nav.scroll-styles .header__logo,
    .header__top-nav.scroll-styles .menu__loging-btn {
      color: #7f7f7f; }
    .header__top-nav.scroll-styles .header__burger span,
    .header__top-nav.scroll-styles .header__burger::before,
    .header__top-nav.scroll-styles .header__burger::after {
      background-color: #7f7f7f; }
    .header__top-nav.scroll-styles .menu__link:hover,
    .header__top-nav.scroll-styles .header__logo:hover {
      color: #22bf95; }
    .header__top-nav.scroll-styles .menu__loging-btn {
      border: 1px solid #7f7f7f; }
      .header__top-nav.scroll-styles .menu__loging-btn:hover {
        border: 1px solid #22bf95; }
  .header__logo {
    color: #fff;
    font-family: 'Actor', sans-serif;
    font-size: 20px;
    font-weight: bold;
    z-index: 3; }
  .header__burger {
    position: relative;
    width: 44px;
    height: 38px;
    padding: 10px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 0;
    z-index: 3; }
    .header__burger span {
      top: 18px;
      content: '';
      background-color: #fff; }
    .header__burger span, .header__burger::before, .header__burger:after {
      content: '';
      width: calc(100% - 20px);
      height: 2px;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      background-color: #fff; }
    .header__burger::before {
      top: 10px; }
    .header__burger::after {
      bottom: 10px; }
  .header__menu {
    display: none; }
  .header__tabs-menu {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -30px;
    height: max-content;
    margin: auto;
    z-index: 3; }
    .header__tabs-menu.active {
      position: fixed;
      top: 90px;
      bottom: unset; }

@media (min-width: 768px) {
  .header {
    padding: 182px 0 188px; }
    .header__tabs-menu {
      bottom: -40px; }
  .main-title {
    max-width: 100%;
    font-size: 90px; } }

@media (min-width: 1120px) {
  .header__burger {
    display: none; }
  .header__top-nav.active::before {
    display: none; }
  .header__menu {
    display: flex; }
  .main-title {
    font-size: 110px;
    line-height: 130px; } }

.l-container {
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 21px 30px; }

.l-main {
  padding: 52px 0 24px; }
  @media (min-width: 768px) {
    .l-main {
      padding-top: 138px; } }

.l-footer {
  padding: 24px 0;
  background-color: #f2f2f2; }
  @media (min-width: 768px) {
    .l-footer {
      padding: 78px 0 68px; } }

.l-footer-main-content {
  color: #7f7f7f; }
  @media (min-width: 1120px) {
    .l-footer-main-content {
      display: flex;
      justify-content: space-between; } }

.l-footer-nav {
  padding-bottom: 20px;
  font-family: 'Acme', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px; }

.tips {
  display: flex;
  flex-direction: column;
  padding-top: 11px;
  border-top: 1px solid #f2f2f2; }
  .tips__item {
    border-top: 1.5px solid #22bf95; }
    .tips__item:last-of-type {
      border-bottom: 1.5px solid #22bf95; }
  .tips__title {
    margin-bottom: 24px; }

.hidden-tips-content {
  width: 100%;
  display: none; }
  .hidden-tips-content .item__wrap-number:first-child {
    width: 85%; }
  .hidden-tips-content .item__wrap-number:nth-child(2) {
    width: 95%; }
  .hidden-tips-content .item__wrap-number:first-of-type {
    margin-bottom: 17px; }
    @media (min-width: 768px) {
      .hidden-tips-content .item__wrap-number:first-of-type {
        margin-bottom: 40px; } }
    @media (min-width: 1120px) {
      .hidden-tips-content .item__wrap-number:first-of-type {
        margin-bottom: 100px; } }

.faqs {
  display: flex;
  flex-direction: column;
  padding-top: 11px;
  border-top: 1px solid #f2f2f2; }
  .faqs__item {
    align-items: top; }
  .faqs__title {
    margin-bottom: 24px; }
  .faqs__link {
    align-self: center;
    margin-top: 20px;
    font-family: 'Acme', sans-serif;
    color: #22bf95 !important; }
    .faqs__link:hover {
      color: #7f7f7f !important; }

.item {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  font-size: 16px;
  line-height: 24px;
  color: #191919; }
  @media (min-width: 768px) {
    .item {
      padding: 56px 0; } }
  @media (min-width: 1120px) {
    .item__heading {
      font-size: 24px; } }
  .item__heading-text {
    font-size: 14px; }
    @media (min-width: 1120px) {
      .item__heading-text {
        font-size: 16px; } }
  .item__wrap-number {
    width: 80%;
    display: flex; }
  .item__hidden-content {
    width: 90%;
    display: none; }
  .item__number {
    display: block;
    margin-right: 35px;
    width: 20px;
    min-height: 100%;
    font-family: 'Actor', sans-serif;
    font-size: 40px;
    color: #f2f2f2; }
    @media (min-width: 1120px) {
      .item__number {
        margin-right: 113px;
        font-size: 110px; } }
  .item__select--check {
    width: 20%;
    display: block;
    height: 10px;
    width: 18px;
    cursor: pointer;
    background: no-repeat url("../images/check.png"); }
  .item__select.active.item__select--check {
    cursor: pointer;
    background: no-repeat url("../images/check-up.png"); }
  .item__select.active.item__select--plus::before {
    display: none; }
  .item__select--plus {
    position: relative;
    width: 15px;
    height: 15px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #22bf95;
    box-shadow: 0px 3px 6px rgba(127, 127, 127, 0.3); }
    @media (min-width: 1120px) {
      .item__select--plus {
        width: 35px;
        height: 35px; } }
    .item__select--plus:hover {
      border: 1px solid #71ecec; }
    .item__select--plus::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 1px;
      height: 7px;
      content: "";
      background-color: #22bf95; }
      @media (min-width: 1120px) {
        .item__select--plus::before {
          width: 2px;
          height: 18px; } }
    .item__select--plus::after {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 1px;
      height: 7px;
      content: "";
      background-color: #22bf95;
      transform: rotate(90deg); }
      @media (min-width: 1120px) {
        .item__select--plus::after {
          width: 2px;
          height: 18px; } }

.hidden-content {
  font-size: 14px;
  line-height: 24px; }
  .hidden-content__title {
    font-size: 24px; }
  .hidden-content__wraper {
    width: 110%; }
    @media (min-width: 768px) {
      .hidden-content__wraper {
        display: flex;
        margin-top: 30px; } }
    .hidden-content__wraper img {
      display: block;
      margin: 0 auto;
      object-fit: contain;
      object-position: center; }
      @media (min-width: 768px) {
        .hidden-content__wraper img {
          height: 370px;
          margin: 0 10% 0 0; } }
  .hidden-content__text {
    margin-bottom: 20px; }
    @media (min-width: 768px) {
      .hidden-content__text {
        max-width: 464px; } }
    .hidden-content__text:first-of-type {
      margin-bottom: 20px; }
  .hidden-content__info {
    display: flex;
    justify-content: space-between; }
    @media (min-width: 768px) {
      .hidden-content__info {
        justify-content: start;
        margin-top: 100px; } }
    .hidden-content__info img {
      width: 30px;
      height: 30px;
      margin: 0 20px 0 0; }
    .hidden-content__info p {
      font-size: 12px;
      color: #7f7f7f; }

.glossary {
  padding-bottom: 20px; }
  .glossary > .l-container {
    padding-top: 10px;
    padding-bottom: 20px;
    border-top: 1px solid #f2f2f2; }

.glossary-main-content {
  padding: 32px 15px 0;
  background: no-repeat url("../images/scout-bc.jpg");
  background-size: cover;
  background-position: center; }
  @media (min-width: 1120px) {
    .glossary-main-content > .l-container {
      display: flex; } }
  @media (min-width: 1120px) {
    .glossary-main-content__wraper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; } }
  .glossary-main-content__title {
    margin-bottom: 24px;
    text-transform: uppercase;
    font-family: 'Actor', sans-serif;
    font-size: 32px; }
    @media (min-width: 1120px) {
      .glossary-main-content__title {
        margin-bottom: 73px;
        font-size: 90px; } }
  .glossary-main-content__text {
    position: relative;
    font-size: 16px;
    line-height: 24px; }
    @media (min-width: 1120px) {
      .glossary-main-content__text {
        max-width: 462px;
        font-size: 24px;
        line-height: 36px; } }
    .glossary-main-content__text::before {
      position: absolute;
      left: -35px;
      top: 24px;
      height: 1.5px;
      width: 48px;
      content: "";
      background-color: #22bf95;
      transform: rotate(90deg); }

.glossary-slider {
  position: relative;
  max-width: 422px;
  margin-bottom: 32px;
  padding: 32px 32px 41px 62px;
  font-size: 16px;
  color: #7f7f7f;
  background-color: #fff; }
  @media (min-width: 1120px) {
    .glossary-slider {
      margin-right: 130px; } }
  .glossary-slider__item {
    position: relative;
    margin-bottom: 15px; }
    .glossary-slider__item.active::before {
      position: absolute;
      width: 46px;
      height: 1px;
      top: 50%;
      left: -52px;
      content: "";
      background-color: #22bf95; }
  .glossary-slider__link:hover {
    color: #22bf95 !important; }
  .glossary-slider__arrow {
    position: absolute;
    top: 32px;
    right: 32px; }
  .glossary-slider__arrow-right {
    display: block;
    margin-bottom: 16px;
    width: 18px;
    height: 18px;
    background: no-repeat url("../images/right.png"); }
  .glossary-slider__arrow-left {
    display: block;
    width: 18px;
    height: 18px;
    cursor: pointer;
    background: no-repeat url("../images/left.png");
    opacity: 0.5; }
    .glossary-slider__arrow-left:hover {
      cursor: pointer; }

.footer-nav-item:not(:last-of-type) {
  margin-bottom: 12px; }
  @media (min-width: 1120px) {
    .footer-nav-item:not(:last-of-type) {
      margin-bottom: 30px; } }

.footer-nav-link {
  display: block;
  width: max-content;
  transition: 0.5s; }
  .footer-nav-link:hover {
    color: #22bf95;
    transform: translate(5px, 0); }

.footer-nav-link-phone {
  font-family: 'Aclonica', sans-serif;
  font-size: 16px; }
  .footer-nav-link-phone:hover {
    color: #22bf95; }

.footer-contacts-item {
  padding: 8px 0;
  border-top: 2px solid #22bf95;
  line-height: 20px; }
  @media (min-width: 1120px) {
    .footer-contacts-item {
      display: flex;
      justify-content: space-between;
      font-size: 16px;
      padding-bottom: 51px; } }

.footer-contacts-item-title {
  font-size: 16px;
  line-height: 36px; }
  @media (min-width: 1120px) {
    .footer-contacts-item-title {
      margin-right: 30px;
      font-size: 24px;
      width: 300px; } }

.footer-contacts-item-phone {
  font-size: 16px; }
  @media (min-width: 1120px) {
    .footer-contacts-item-phone {
      margin-right: 30px; } }
  .footer-contacts-item-phone:hover {
    color: #22bf95; }

@media (min-width: 1120px) {
  .footer-contacts-item-text {
    width: 270px; } }

.footer-contacts-item-map {
  color: #22bf95 !important; }
  @media (min-width: 1120px) {
    .footer-contacts-item-map {
      margin: 0 0 0 30px; } }
  .footer-contacts-item-map:hover {
    color: #7f7f7f !important; }

.footer-social {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  border-top: 1px solid #7f7f7f; }
  @media (min-width: 1120px) {
    .footer-social {
      flex-direction: row;
      justify-content: space-between;
      padding-top: 28px; } }

.footer-social-list {
  display: flex;
  margin-bottom: 20px; }

.social-list-item {
  margin-right: 53px;
  transition: 0.5s; }
  .social-list-item:hover {
    transform: scale(1.2); }
  .social-list-item:last-of-type {
    margin-right: 0; }
