.tips-accordion {
  width: 100%;
  overflow: hidden;
  counter-increment: section; }
  .tips-accordion input {
    position: absolute;
    opacity: 0;
    z-index: -1; }
  .tips-accordion input:checked ~
.tips-accordion-content-wraper {
    max-height: 100%; }
  .tips-accordion input:checked +
.tips-accordion-label {
    padding: 24px 0 21px 0;
    font-size: 24px;
    line-height: 32px;
    border-bottom: none;
    box-shadow: none; }
  .tips-accordion input:checked +
.tips-accordion-label::before {
    transform: translateX(-100%); }
  .tips-accordion input:checked +
.tips-accordion-label::after {
    font-size: 14px;
    content: '-'; }
  .tips-accordion-label {
    position: relative;
    display: flex;
    align-items: center;
    padding: 15px 35px 15px 45px;
    line-height: 24px;
    cursor: pointer;
    border-top: 1px solid #22bf95;
    transition: border 0.3s ease-in; }
    .tips-accordion-label--last {
      border-bottom: 1px solid #22bf95; }
    .tips-accordion-label:hover {
      border-top: 1px solid greenyellow;
      border-bottom: 1px solid greenyellow; }
    .tips-accordion-label::before {
      position: absolute;
      left: 0;
      bottom: 0;
      top: 0;
      margin: auto;
      content: counter(section);
      font-family: 'Actor', sans-serif;
      font-size: 40px;
      line-height: 48px;
      color: #f2f2f2; }
    .tips-accordion-label::after {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      width: 15px;
      height: 15px;
      text-align: center;
      line-height: 15px;
      border-radius: 50%;
      color: #22bf95;
      content: '+';
      border: 1px solid #22bf95;
      box-shadow: 0px 3px 6px rgba(127, 127, 127, 0.3); }
  .tips-accordion-content-wraper {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.1s  ease-in; }
  .tips-accordion-content {
    display: flex;
    flex-direction: column;
    padding-bottom: 23px;
    font-size: 14px;
    line-height: 24px;
    border-bottom: 1px solid #22bf95; }
    .tips-accordion-content img {
      align-self: center;
      width: 117px;
      height: 117px;
      margin-bottom: 21px; }
  .tips-accordion-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 11px; }
    .tips-accordion-info span {
      display: block;
      height: 28px;
      width: 28px;
      background: no-repeat url("../images/info.png");
      background-position: center;
      background-size: contain; }
    .tips-accordion-info p {
      margin-left: 20px;
      font-size: 12px;
      color: #7f7f7f; }

@media (min-width: 768px) {
  .tips-accordion input:checked +
.tips-accordion-label {
    padding: 50px 0 0 0;
    font-size: 42px;
    line-height: 54px;
    border-bottom: none;
    box-shadow: none; }
  .tips-accordion input:checked +
.tips-accordion-label::before {
    transform: translateX(-100%);
    left: unset; }
  .tips-accordion input:checked +
.tips-accordion-label::after {
    font-size: 30px;
    content: '-'; }
  .tips-accordion-label {
    font-size: 24px;
    line-height: 36px;
    padding: 56px 0 56px 200px; }
    .tips-accordion-label::before {
      left: 40px;
      font-size: 110px;
      line-height: 130px; }
    .tips-accordion-label::after {
      width: 35px;
      height: 35px;
      right: 40px;
      font-size: 30px;
      line-height: 35px; }
  .tips-accordion-content {
    flex-direction: row;
    padding-bottom: 40px; }
    .tips-accordion-content > img {
      display: block;
      width: 250px;
      height: 250px;
      margin-top: 42px;
      margin-bottom: 0; }
  .tips-accordion-text-wraper {
    font-size: 16px;
    line-height: 24px;
    margin: 40px 70px 0 70px; }
  .tips-accordion-info {
    justify-content: start;
    margin-top: 60px;
    font-size: 13px; } }

@media (min-width: 1120px) {
  .tips-accordion input:checked +
.tips-accordion-label {
    padding-right: 800px; }
  .tips-accordion-content > img {
    width: 370px;
    height: 370px; }
  .tips-accordion-text-wraper {
    margin: 0 165px 0 135px; } }

.tips {
  counter-reset: section; }
  .tips .container {
    padding-top: 10px;
    padding-bottom: 24px;
    border-top: 1px solid #b2b2b2; }
  .tips-title {
    margin-bottom: 24px; }

@media (min-width: 768px) {
  .tips .container {
    padding-top: 19px;
    padding-bottom: 160px; }
  .tips-title {
    margin-bottom: 100px; } }
