html {
  scroll-behavior: smooth;
  font-family: "Aclonica", sans-serif;
  font-size: $fs-base;
  font-weight: 400;
}

body {
  box-sizing: border-box;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
}

.title {
  padding: 0 5px;
  margin-bottom: 32px;
  font-family: "Actor", sans-serif;
  font-size: $fs-mega;
  line-height: 70px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;

  @include screen-tablet {
    margin-bottom: 90px;
  }

  @include screen-desktop {
    margin-bottom: 120px;
    font-size: $fs-giga;
    line-height: 130px;
  }
}

.subtitle {
  font-size: $fs-big;
  line-height: 36px;
  color: $c-main-text;

  @include screen-desktop {
    font-size: $fs-kilo;
    line-height: 54px;
  }
}

.txt {
  font-size: $fs-mini;
  line-height: $fs-kilo;

  @include screen-desktop {
    font-size: $fs-base;
  }
}

.btn-header {
  padding: 7px 53px;
  cursor: pointer;

  font-family: "Acme", sans-serif;
  font-size: $fs-milli;
  line-height: 24px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
  
  border: 1px solid #fff;
  border-radius: 20px;
  background-color: transparent;
  transition: border $animation-time ease-in, color $animation-time ease-in;

  &:hover {
    color: $c-gray;
    border: 1px solid $c-gray;
  }
}

.btn-small-padding {
  padding: 7px 21px;
}

.btn-primary, .btn-secondary {
  display: block;
  padding: 8px 60px;
  cursor: pointer;

  font-family: "Acme", sans-serif;
  font-size: $fs-milli;
  line-height: 24px;
  text-transform: uppercase;
  color: $c-link;
  letter-spacing: 2px;
  
  border: none;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: $shadow-btn;
  transition: box-shadow $animation-time ease-in;

  &:hover {
    box-shadow: $shadow-on-hover;
  }
}

.btn-secondary {
  color: #fff;
  background-color: $c-link;
}
