$max-width-container: 1170px;
$horizont-padding-container: 21px;
$c-white: #fff;
$c-light-gray: #7f7f7f;
$c-green: #22bf95;

$breakpoint-phone: 450px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;
