$max-width-container: 1170px;
$max-width-header-container: 1265px;
$horizontal-padding-container: 21px;

$c-white: #fff;
$c-gray: #f2f2f2;
$c-dark-gray: #7f7f7f;
$c-green: #22bf95;

$animation-time: 0.3s;

$breakpoint-phone: 450px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1120px;
