@import 'fonts';
@import 'variables';
@import 'reset';
@import 'normolize';

@import './header';
@import './tips';
@import './faqs';
@import './footer';


//GLOSSARY
.glossary {
  padding-bottom: 20px;

   > .l-container {
    padding-top: 10px;
    padding-bottom: 20px;
    border-top: 1px solid $c-gray;
  }
}

.glossary-main-content {
  padding: 32px 15px 0;
  background: no-repeat url('../images/scout-bc.jpg');
  background-size: cover;
  background-position: center;

   > .l-container {
    @media(min-width: $breakpoint-desktop) {
      display: flex;
    } 
  }

  &__wraper {
    @media(min-width: $breakpoint-desktop) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    } 
  }

  &__title {
    margin-bottom: 24px;
    text-transform: uppercase;
    font-family: 'Actor', sans-serif;
    font-size: 32px;

    @media(min-width: $breakpoint-desktop) {
      margin-bottom: 73px;
      font-size: 90px;
    } 
  }

  &__text {
    position: relative;
    font-size: 16px;
    line-height: 24px;

    @media(min-width: $breakpoint-desktop) {
      max-width: 462px;
      font-size: 24px;
      line-height: 36px;
    } 

    &::before {
      position: absolute;
      left: -35px;
      top: 24px;
      height: 1.5px;
      width: 48px;
      content: '';
      background-color: $c-green;
      transform: rotate(90deg);
    }
  }
}

.glossary-slider {
  position: relative;
  max-width: 422px;
  margin-bottom: 32px;
  padding: 32px 32px 41px 62px;

  font-size: 16px;
  color: $c-dark-gray;
  background-color: $c-white;

  @media(min-width: $breakpoint-desktop) {
    margin-right: 130px;
  } 

  &__item {
    position: relative;
    margin-bottom: 15px;

    &.active {
      &::before {
        position: absolute;
        width: 46px;
        height: 1px;
        top: 50%;
        left: -52px;
        content: '';
        background-color: $c-green;;
      }
    }
  }

  &__link {
    &:hover {
      color: $c-green!important;
    }
  }

  &__arrow {
    position: absolute;
    top: 32px;
    right: 32px;
  }

  &__arrow-right {
    display: block;
    margin-bottom: 16px;
    width: 18px;
    height: 18px;

    background: no-repeat url('../images/right.png');
  }

  &__arrow-left {
    display: block;
    width: 18px;
    height: 18px;

    cursor: pointer;
    background: no-repeat url('../images/left.png');
    opacity: 0.5;

    &:hover {
      cursor: pointer;
    }
  }
}

//FOOTER


.container {
  position: relative;
  max-width: $max-width-container;
  margin: 0 auto;
  padding: 0 $horizontal-padding-container;
}

.main{
  padding: 52px 0 24px;

  @media(min-width: $breakpoint-tablet) {
    padding: 138px 0 102px;
  }
}

.slider {
  position: relative;
  padding: 40px 60px 40px 62px;

  a {
    color: $c-dark-gray;
    transition: color $animation-time ease-in;

    &:hover {
      color: $c-green;
    }
  }

  &-item {
    margin-bottom: 10px;
    transition: color $animation-time ease-in;

    &:hover {
      cursor: pointer;
      color: $c-green;
    }

    &.slick-active {
      background-color: green;
    }
  }

  .slick-arrow {
    position: absolute;
    right: 32px;
    font-size: 0;
    height: 16px;
    width: 16px;
    border: 0;

    cursor: pointer;
    z-index: 20;

    &.slick-disabled {
      opacity: 0.5;
    }
  }

  .slick-arrow.slick-prev {
    top: 64px;
    background: url('../images/previous.svg') 0 0 / 100% no-repeat;
  }

  .slick-arrow.slick-next {
    top: 32px;
    background: url('../images/next.svg')  0 0 / 100% no-repeat;
  }
}

.slick-list {
  overflow: hidden;
}

.slick-track{
  display: flex;
}
