@import "fonts";

@import "variables";
@import "mixins";

//RESET 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

ul {
  list-style: none;
}

a,
a:hover {
  text-decoration: none;
}

a,
a:visited {
  color: inherit;
}

*:focus {
  outline: none;
}

//BASIC
html {
  scroll-behavior: smooth;
  font-family: "Aclonica", sans-serif;
  font-size: 12px;
  font-weight: 400;
}

body {
  box-sizing: border-box;
}

//LAYOUT
.l-container {
  position: relative;
  max-width: $max-width-container;
  margin: 0 auto;
  padding: 0 $horizont-padding-container 30px;
}

.l-header-container {
  position: relative;
  max-width: 1265px;
  margin: 0 auto;
  padding: 0 $horizont-padding-container 30px;
}

.l-header {
  padding-top: 18px;
  color: $c-white;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: linear-gradient(to left, rgba(0,244,115,1) 15%, rgba(34,198,212,1) 80%, rgba(23,195,225,1));

  @media(min-width: $breakpoint-tablet) {
    padding-top: 28px;
  }
}

.l-header-top-menu {
  display: flex;
  justify-content: space-between;

  @media(min-width: $breakpoint-desktop) {
    position: sticky;
    top: 28px;
  }
}

.l-header-sticky-menu {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -30px;
  margin: auto;

  max-width: 770px;
  width: calc(100% - #{$horizont-padding-container * 2});

  background-color: $c-white;
  box-shadow: 0px 12px 24px #F2F2F2;
  border-radius: 5px;

  @media(min-width: $breakpoint-tablet) {
    bottom: -40px;
  }

  &::before {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2.5px;

    content: " ";
    background-color: $c-green;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    @media(min-width: $breakpoint-tablet) {
      height: 5px;
    }
  } 
}

.l-burger-menu_nav {
  position: fixed;
  top: 62px;
  left: 0;
  height: 100%;
  width: 100vw;

  display: none;
  flex-flow: column;
  padding: 40px 0;
  z-index: 20;

  font-family: 'Acme', sans-serif;
  background-color: $c-white;

  transition: 0.8s;

  @media(min-width: $breakpoint-tablet) {
    top: 102px;
  }
  
  @media(min-width: $breakpoint-desktop) {
    display: none;
  }

  &.active {
    display: flex;

    @media(min-width: $breakpoint-desktop) {
      display: none;
    }
  }
}

.l-main{
  padding: 52px 0 24px;
}

.l-footer {
  padding: 24px 0;
  background-color: $c-gray;

  @media(min-width: $breakpoint-tablet) {
    padding: 78px 0 68px;
  }
}

.l-footer-main-content {
  color: $c-dark-gray;

  @media(min-width: $breakpoint-desktop) {
    display: flex;
    justify-content: space-between;
  }
}

.l-footer-nav {
  padding-bottom: 20px;
  font-family: 'Acme', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

//MODULES
//HEADER
.header-title {
  max-width: 142px;
  margin: 30px auto 0;

  font-family: "Actor", sans-serif;;
  font-size: 40px;
  line-height: 56px;

  @media(min-width: $breakpoint-phone) {
    max-width: 100%;
  }

  @media(min-width: $breakpoint-tablet) {
    margin: 102px auto 188px;
    font-size: 110px;
  }
}

.btn-menu {
  position: relative;
  display: flex;
  width: 24px;
  height: 18px;
  padding: 0;

  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  align-items: flex-end;
  flex-wrap: wrap;

  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 0;

  @media(min-width: $breakpoint-desktop) {
    display: none;
  }

  span {
    display: flex;
    height: 2px;
    width: 24px;
    background-color: #fff;

    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;

    &:nth-child(2),
    &:nth-child(3) {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }

  &.active {
    span {
      &:first-child,
      &:nth-child(4) {
        top: 9px;
        width: 0;
        left: 50%;
      }

      &:nth-child(2) {
        top: 9px;
        -webkit-transform: rotate(
        45deg
        );
        transform: rotate(
        45deg
        );
      }

      &:nth-child(3) {
        top: 9px;
        -webkit-transform: rotate(
        -45deg
        );
        transform: rotate(
        -45deg
        );
      }
    }
  }
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;

  font-family: 'Acme', sans-serif;

  @media(min-width: $breakpoint-tablet) {
    height: 80px;
  }
}

.nav-item {
  position: relative;
  width: 33.33%;
  color: $c-dark-gray;

  &::after {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;

    margin: auto;
    width: 0.5px;
    height: 20.5px;

    content: " ";
    background-color: $c-dark-gray;
    opacity: 0.2;
  }

  &:last-of-type::after {
    display: none;
  }
}

.nav-link {
  &.is-active {
    color: $c-green;
  }

  &:hover {
    color: $c-green;
  }
}

.burger-menu-nav {
  &-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-item {
    position: relative;
    width: max-content;
    margin-bottom: 16px;
    color: $c-green;

    &:nth-child(6) {
      margin-bottom: 180px;
    }

    &.loging {
      padding: 8px 54px;
      border: 1.5px solid $c-green;
      border-radius: 20px;
    }

    &.is-active::after {
      position: absolute;
      bottom: -3px;
      left: calc(50% - 20px);
      content: " ";
      width: 40px;
      height: 2px;
      background-color: $c-green;
    }
  }

  &-link {
    color: $c-green;

    &:active {
      color: rgb(70, 121, 70);
    }
  }
}

//FOOTER
.footer-nav {
  &-item:not(:last-of-type) {
    margin-bottom: 12px;

    @media(min-width: $breakpoint-desktop) {
      margin-bottom: 30px;
    }
  }

  &-link {
    display: block;
    width: max-content;
    transition: 0.5s;

    &:hover {
      color: $c-green;
      transform: translate(5px, 0);
    }
  }

  &-link-phone {
    font-family: 'Aclonica', sans-serif;
    font-size: 16px;

    &:hover {
      color: $c-green;
    }
  }
}

.footer-contacts {
  &-item {
    padding: 8px 0;
    border-top: 2px solid $c-green;
    line-height: 20px;

    @media(min-width: $breakpoint-desktop) {
      display: flex;
      justify-content: space-between;
      font-size: 16px;
      padding-bottom: 51px;
    }
  }

  &-item-title {
    font-size: 16px;
    line-height: 36px;

    @media(min-width: $breakpoint-desktop) {
      margin-right: 30px;
      font-size: 24px;
      width: 300px;
    }
  }

  &-item-phone {
    font-size: 16px;

    @media(min-width: $breakpoint-desktop) {
       margin-right: 30px;
    }

    &:hover {
      color: $c-green;
    }
  }

  &-item-text {
    @media(min-width: $breakpoint-desktop) {
      width: 270px;
   }
  }

  &-item-map {
    color: $c-green!important;

    @media(min-width: $breakpoint-desktop) {
      margin: 0 0 0 30px;
    }

    &:hover {
      color: $c-dark-gray!important;
    }
  }
}

.footer-social {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 20px;
  border-top: 1px solid $c-dark-gray;

  @media(min-width: $breakpoint-desktop) {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 28px;
 }
}

.footer-social-list {
  display: flex;
  margin-bottom: 20px;
}

.social-list-item {
  margin-right: 53px;

  transition: 0.5s;

    &:hover {
      transform: scale(1.2);
    }

    &:last-of-type {
      margin-right: 0;
    }
}

.header-menu-nav {
  display: none;
  font-family: 'Acme', sans-serif;
  width: 80%;

  @media(min-width: $breakpoint-desktop) {
    display: block;
 }

 &-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
 }

 &-item {
   position: relative;

   &:hover {
     color: $c-green;
   }

   &.is-active::after {
     position: absolute;
     bottom: -7px;
     left: 0;
     right: 0;
     margin: 0 auto;
     width: 40px;
     height: 1.5px;
     content: "";
     background-color: $c-white;
   }

   &.loging {
    padding: 8px 54px;
    border: 1.5px solid $c-white;
    border-radius: 20px;

    &:last-of-type {
      padding: 8px 25px;
    }
   }
 }
}

//MAIN
//TIPS
.tips {
  display: flex;
  flex-direction: column;
  padding-top: 11px;
  border-top: 1px solid $c-gray;

  &__item {
    border-top: 1.5px solid $c-green;

    &:last-of-type {
      border-bottom: 1.5px solid $c-green;
    }
  }

  &__title {
    margin-bottom: 24px;
  }
}

//FAQS
.faqs {
  display: flex;
  flex-direction: column;
  padding-top: 11px;
  border-top: 1px solid $c-gray;

  &__title {
    margin-bottom: 24px;
  }

  &__link {
    align-self: center;
    margin-top: 20px;
    font-family: 'Acme', sans-serif;
    color: $c-green!important;

    &:hover {
      color: $c-dark-gray!important;
    }
  }
}
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;

  font-size: 16px;
  line-height: 24px;
  color: #191919;

  &__wrap-number {
    width: 80%;
    display: flex;
    align-items: center;
  }

  &__hidden-content {
    display: none;
  }

  &__number {
    display: block;
    margin-right: 35px;

    font-family: 'Actor', sans-serif;
    font-size: 40px;
    color: $c-gray;
  }

  &__select {
    &--check {
      width: 20%;
      display: block;
      height: 10px;
      width: 18px;
  
      cursor: pointer;
      background: no-repeat url("../images/check.png")
    }

    &.active.item__select--plus {
      &::before {
        display: none;
      }
    }

    &--plus {
      position: relative;
      width: 15px;
      height: 15px;

      cursor: pointer;
      border-radius: 50%;
      border: 1px solid $c-green;
      box-shadow: 0px 3px 6px rgba(127, 127, 127, 0.3);

      &:hover {
        border:1px solid rgb(113, 236, 236)
      }

      &::before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      
        width: 1px;
        height: 7px;

        content: "";
        background-color: $c-green;
      }

      &::after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        
        width: 1px;
        height: 7px;

        content: "";
        background-color: $c-green;
        transform: rotate(90deg);
      }
    }
  }
}
