@import 'fonts';
@import 'variables';
@import 'reset';
@import 'normolize';

@import './header';
@import './tips';
@import './faqs';


.l-footer {
  padding: 24px 0;
  background-color: $c-gray;

  @media(min-width: $breakpoint-tablet) {
    padding: 78px 0 68px;
  }
}

.l-footer-main-content {
  color: $c-dark-gray;

  @media(min-width: $breakpoint-desktop) {
    display: flex;
    justify-content: space-between;
  }
}

.l-footer-nav {
  padding-bottom: 20px;
  font-family: 'Acme', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

//GLOSSARY
.glossary {
  padding-bottom: 20px;

   > .l-container {
    padding-top: 10px;
    padding-bottom: 20px;
    border-top: 1px solid $c-gray;
  }
}

.glossary-main-content {
  padding: 32px 15px 0;
  background: no-repeat url('../images/scout-bc.jpg');
  background-size: cover;
  background-position: center;

   > .l-container {
    @media(min-width: $breakpoint-desktop) {
      display: flex;
    } 
  }

  &__wraper {
    @media(min-width: $breakpoint-desktop) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    } 
  }

  &__title {
    margin-bottom: 24px;
    text-transform: uppercase;
    font-family: 'Actor', sans-serif;
    font-size: 32px;

    @media(min-width: $breakpoint-desktop) {
      margin-bottom: 73px;
      font-size: 90px;
    } 
  }

  &__text {
    position: relative;
    font-size: 16px;
    line-height: 24px;

    @media(min-width: $breakpoint-desktop) {
      max-width: 462px;
      font-size: 24px;
      line-height: 36px;
    } 

    &::before {
      position: absolute;
      left: -35px;
      top: 24px;
      height: 1.5px;
      width: 48px;
      content: '';
      background-color: $c-green;
      transform: rotate(90deg);
    }
  }
}

.glossary-slider {
  position: relative;
  max-width: 422px;
  margin-bottom: 32px;
  padding: 32px 32px 41px 62px;

  font-size: 16px;
  color: $c-dark-gray;
  background-color: $c-white;

  @media(min-width: $breakpoint-desktop) {
    margin-right: 130px;
  } 

  &__item {
    position: relative;
    margin-bottom: 15px;

    &.active {
      &::before {
        position: absolute;
        width: 46px;
        height: 1px;
        top: 50%;
        left: -52px;
        content: '';
        background-color: $c-green;;
      }
    }
  }

  &__link {
    &:hover {
      color: $c-green!important;
    }
  }

  &__arrow {
    position: absolute;
    top: 32px;
    right: 32px;
  }

  &__arrow-right {
    display: block;
    margin-bottom: 16px;
    width: 18px;
    height: 18px;

    background: no-repeat url('../images/right.png');
  }

  &__arrow-left {
    display: block;
    width: 18px;
    height: 18px;

    cursor: pointer;
    background: no-repeat url('../images/left.png');
    opacity: 0.5;

    &:hover {
      cursor: pointer;
    }
  }
}

//FOOTER
.footer-nav {
  &-item:not(:last-of-type) {
    margin-bottom: 12px;

    @media(min-width: $breakpoint-desktop) {
      margin-bottom: 30px;
    }
  }

  &-link {
    display: block;
    width: max-content;
    transition: 0.5s;

    &:hover {
      color: $c-green;
      transform: translate(5px, 0);
    }
  }

  &-link-phone {
    font-family: 'Aclonica', sans-serif;
    font-size: 16px;

    &:hover {
      color: $c-green;
    }
  }
}

.footer-contacts {
  &-item {
    padding: 8px 0;
    border-top: 2px solid $c-green;
    line-height: 20px;

    @media(min-width: $breakpoint-desktop) {
      display: flex;
      justify-content: space-between;
      font-size: 16px;
      padding-bottom: 51px;
    }
  }

  &-item-title {
    font-size: 16px;
    line-height: 36px;

    @media(min-width: $breakpoint-desktop) {
      margin-right: 30px;
      font-size: 24px;
      width: 300px;
    }
  }

  &-item-phone {
    font-size: 16px;

    @media(min-width: $breakpoint-desktop) {
       margin-right: 30px;
    }

    &:hover {
      color: $c-green;
    }
  }

  &-item-text {
    @media(min-width: $breakpoint-desktop) {
      width: 270px;
   }
  }

  &-item-map {
    color: $c-green!important;

    @media(min-width: $breakpoint-desktop) {
      margin: 0 0 0 30px;
    }

    &:hover {
      color: $c-dark-gray!important;
    }
  }
}

.footer-social {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 20px;
  border-top: 1px solid $c-dark-gray;

  @media(min-width: $breakpoint-desktop) {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 28px;
 }
}

.footer-social-list {
  display: flex;
  margin-bottom: 20px;
}

.social-list-item {
  margin-right: 53px;

  transition: 0.5s;

    &:hover {
      transform: scale(1.2);
    }

    &:last-of-type {
      margin-right: 0;
    }
}


.container {
  position: relative;
  max-width: $max-width-container;
  margin: 0 auto;
  padding: 0 $horizontal-padding-container;
}

.main{
  padding: 52px 0 24px;

  @media(min-width: $breakpoint-tablet) {
    padding: 138px 0 102px;
  }
}
